<main class="fondo fondo-messages"  >
  <div class="messages">
    <div class="messages-header">
      <app-back class="back"/>

      <h2>user name</h2>
    </div>
    <app-search-bar class="searchbar-class" [effecTime]="600"/>

    <div class="messages-previews">
      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message [hasNewMessage]="true"   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>

      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>


      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>



      <div class="messages-previews-chat" [routerLink]="['chat']">
        <preview-message   />
      </div>
      <hr>
      
    </div>

  </div>

</main>


