<main class="home enter-from-bottom">
  <home-marketplace-header class="home-header"/>
  <nav class="home-nav">
    <button class="home-nav-button btn-click" [routerLink]="'create'">Vender</button>
    <button class="home-nav-button btn-click" (click)="filterIsOpen.set(true)">Ordenar</button>

  </nav>

  <section class="home-section">
    @for (item of announcementResource.value()?.data; track $index) {
      <post-preview class="home-section-post" [announcement]="item" [routerLink]="['/announcement',item.id]"/>
    }

  </section>


  @if(filterIsOpen()){
    <div class="modal-div ">
      <app-filter class="home-filter grow" (close)="filterIsOpen.set(false)" />
    </div>
  }


</main>

