<main class="home">
  <home-marketplace-header class="home-header"/>
  <nav class="home-nav">
    <button class="home-nav-button">Categorias</button>
    <button class="home-nav-button">Ordenar</button>

  </nav>

  <section class="home-section">
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>

  </section>


</main>

