<main class="home">
  <home-marketplace-header class="home-header"/>
  <nav class="home-nav">
    <button class="home-nav-button btn-click" (click)="categoriesIsOpen.set(true)">Categorias</button>
    <button class="home-nav-button btn-click" (click)="filterIsOpen.set(true)">Ordenar</button>

  </nav>

  <section class="home-section">
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>
    <post-preview class="home-section-post"/>

  </section>

  @if(categoriesIsOpen()){
    <div class="modal-div">
      <app-categories-modal class="home-categories" (close)="categoriesIsOpen.set(false)"/>
    </div>
  }

  @if(filterIsOpen()){
    <div class="modal-div">
      <app-filter class="home-filter" (close)="filterIsOpen.set(false)"/>
    </div>
  }


</main>

