<main class="fondo fondo-chat enter-from-right" >
  <chat-header class="chat-header-class"/>
  <section class="chat-content" #chat>
    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

    <div class="chat-content-messageWrapper user-wrapper">
      <div class="chat-content-messageWrapper-message user-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

    <div class="chat-content-messageWrapper user-wrapper">
      <div class="chat-content-messageWrapper-message user-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>


    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>


    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>
    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>
    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>
    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>
    <div class="chat-content-messageWrapper friend-wrapper">
      <div class="chat-content-messageWrapper-message friend-message">
        <p>¡Hola, Eloise! ¿Cómo estás?  ¡Hola, Eloise! ¿Cómo estás? ¡Hola, Eloise! ¿Cómo estás?¡Hola, Eloise! ¿Cómo estás?</p>
      </div>
    </div>

  </section>

  <footer>
    <textarea class="textarea-message" type="text" placeholder="Escribe un mensaje..."></textarea>

    <div class="send">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 25" fill="none">
        <path d="M22.9167 12.5001L3.125 20.8334L6.83646 12.5001L3.125 4.16675L22.9167 12.5001ZM22.9167 12.5001H6.77083" stroke="#A6A6A6" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>

  </footer>
</main>
