<header class="header">
  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="27" viewBox="0 0 59 32" fill="none">
    <path d="M2 28.8923L30.6728 4.40841C31.3219 3.85419 32.3222 4.3154 32.3222 5.16888V23.2213C32.3222 24.0917 33.3572 24.5466 33.9984 23.958L56.8308 3M2 15.7339L16.7279 28.8923" stroke="#C5FF15" stroke-width="6"/>
  </svg>

  <h2 class="header-title">
    Marketplace
  </h2>

  <div class="header-options">
    <i class="fa-light fa-user"></i>
    <i class="fa-light fa-basket-shopping"></i>
    <i class="fa-light fa-magnifying-glass"></i>
  </div>

</header>
