<div class="div-carouser-container">

  @if(imgUrls().length > 1){
      <button (click)="swiper.swiper.slidePrev()" [disabled]="swiper.swiper.isBeginning" class="btn-navigation Prev">
        <i class="fa-regular fa-angle-left"></i>
      </button>
      <button (click)="swiper.swiper.slideNext()" [disabled]="swiper.swiper.isEnd" class="btn-navigation Next">
        <i class="fa-regular fa-angle-right"></i>
      </button>

  }


  <swiper-container class="swipper-class" [slides-per-view]="1" pagination="true" #swiper>
    @for (img of imgUrls(); track $index) {
      <swiper-slide>
        <img [src]="img" />
      </swiper-slide>
    }



  </swiper-container>


</div>
