.div-carouser-container{
  position: relative;
  background-color: #272727;
}

swiper-container{
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: flex-end; /* Alinea las imágenes por la parte inferior */
}

swiper-slide{
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Alinea las imágenes por la parte inferior */
  max-width: 100%; /* Ajusta el ancho sin deformar */
  height: auto; /* Mantiene la proporción */
}

img{
  width: 100%;
  height: auto; /* Permite que cada imagen mantenga su proporción natural */
  object-fit: cover;

}

.navigation-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  padding: 0 15px;
}

.btn-navigation{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.82);
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

}

.Prev{
  left: 10px;
}

.Next{
  right: 10px;
}

.btn-navigation:disabled{
  opacity: 0.4;

}

.btn-navigation i {
  color: black;
}

.btn-navigation i:disabled {
  opacity: 0.4;
}

