@import "src/theme/variables.scss";
button{
  padding: 9px 15px;
  letter-spacing: 1.2px;
  width: 130px;
  border-radius: 30px;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 1px solid transparent;
  transition: all ease 100ms;
}


.follow{
  color: black;
  background-color: $secondary-color;
}

.unfollow{
  color: white;
  background-color: transparent;
  border: 1px solid #474747;
}
