
<form class="form-class" [formGroup]="datosForm">

  <label class="label-input" for="credential">Correo o nombre de usuario</label>
  <div class="input-custom">
    <input formControlName="credential" type="text" placeholder="example@gmail.com" id="credential">
  </div>

  <label class="label-input" for="pass">Contraseña</label>
  <div class="input-custom">
    <input formControlName="pass" type="password" placeholder="*********" id="pass">
  </div>

  <div class="forget-pass">
    <a href="">¿Olvidaste tu contraseña? </a>
  </div>
  <div style="text-align: center;">
    <button class="btn-enviar" type="submit" >
      <strong>Iniciar sesion</strong>
    </button>
  </div>
</form>



