<main class="profile enter-from-bottom">
  @if(!profileResource.isLoading()){
  <app-banner class="profile-banner"  [isProfile]="profileResource.value()?.isOwnProfile!"/>
  <div class="profile-containerPicture">
    <div class="profile-containerPicture-picture">
      <img  [src]="profileResource.value()?.user?.avatar ?? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'" alt="">
    </div>
    @if (profileResource.value()?.isOwnProfile! === false) {
      <app-follow (clickFollow)="onClickFollow(profileResource.value()?.user?.id!, $event)" [isFollowing]="profileResource.value()?.isFollowing!"/>
    }
  </div>

  <article class="profile-content">
    <div class="profile-content-data">
      <h4>{{profileResource.value()?.user?.fullname}}</h4>
      <p>&#64;{{profileResource.value()?.user?.username}}</p>

      <div class="profile-content-data-metrics">
        <p>{{followers() | truncateNumber}} seguidores</p>
        <p>{{profileResource.value()?.stats?.following! | truncateNumber}} seguidos</p>
        <p>{{profileResource.value()?.stats?.publishes! | truncateNumber}} publicaciones</p>
      </div>
    </div>

  </article>

  }
  <section class="profile-content-posts">

  </section>

</main>


