.btn-enviar{
  border-radius: 10px;
  background: #C5FF15;
  color: #282828;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 10px;
  width: 100%;
  margin-top: 20px;
}

.forget-pass{
  display: flex;
  justify-content: flex-end;
}

.forget-pass a {
  margin: 0;
  color: #AFAFAF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-class{
  height: auto;
}



