/* Definimos la animación de apertura */
/* Definimos la animación de "crecer" */
@import "src/theme/variables.scss";

.create{
  position: relative;
  width: 95vw;
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;

  border-radius: 15px;

  transition: all  200ms ease;
  &-header{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;

    border-bottom: 1px solid #4b4b4bc7;
    &-close{
      position: absolute;
      top: 50%;
      left: 0px;
      padding: 10px 20px;
      transform: translateY(-50%); /* Centra verticalmente correctamente */

      color: $secondary-color;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      background-color: transparent;
    }

    &-title{
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0;
    }
  }



    &-coment{
      display: flex;
      flex-direction: row;
      align-items: start ;
      justify-content: start;
      gap: 15px;
      margin-bottom: 20px;
      padding: 0 20px;
      padding-top: 10px;
      img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }


      &-text{
        display: flex;
        flex-direction: column;
        flex: 1;

        overflow: hidden;
        p{
          color: $secondary-color;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 2px;
        }

        textarea{
          background-color: transparent;
          border: none;
          outline: none;
          color:  white;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width:100%;
          max-width: 100%;
          height: auto;
          max-height: 70px;
          resize: none; /* Evita que el usuario lo ajuste manualmente */
          overflow-y: auto;
          padding: 0;
          field-sizing: content;
          scrollbar-color: transparent;
          text-align: start;

        }
      }

    }

    &-options{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 100%;

      &-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }

      button{
        padding: 5px 20px;
        border-radius: 4px;
        background: $secondary-color;
        color: #282828;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

}

.hide{
  display: none;
}
