<main class="fondo fondo-home" >
  @if(componentsHomeService.isCreateOpen() || componentsHomeService.isMessageModalOpen()){
    <div class="modal-div">
      @if (componentsHomeService.isCreateOpen()) {
        <app-create-post
        style="z-index: 10; pointer-events: auto;"
        (close)="onCloseCreate($event)"/>
    }

    @if(componentsHomeService.isMessageModalOpen()){
      <app-message-modal
      style="z-index: 10; pointer-events: auto;"
      [type]="componentsHomeService.typeModalMessage()"
      [message]="componentsHomeService.messageModalMessage()"
      (close)="componentsHomeService.isMessageModalOpen.set(false)"/>
    }
    </div>

  }
  <router-outlet style="height: 100vh;"/>

  <app-nav-bar class="nav-bar-app"/>
</main>

