/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


 @import "src/theme/variables.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@ionic/angular/css/palettes/dark.system.css';
/* Poppins - Thin */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Poppins - Extra Light */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Poppins - Light */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Poppins - Regular */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Poppins - Medium */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Poppins - SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Poppins - Bold */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Poppins - ExtraBold */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Poppins - Black */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


.isLike{
  fill:red;
  stroke:red;

}

.isLikeAnimated{
  animation-name: likeAnimation;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes likeAnimation{
  0%{
    scale: 0.75;
  }

  50%{
    scale: 1.3;
  }

  100%{
    opacity: 1;
    scale: 1;
  }
}



.scrollable{
  overflow-y: auto;
}
.input-custom
{
  background-color: #3D3D3D;
  border-radius: 10px;
  border: 1px solid #5B5B5B;
  padding: 10px 15px;
  border: 1px solid #5B5B5B;
  color: #e0e0e0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

}

.input-custom input{
  outline: none;
  flex: 1;
  min-width: 0;
  border: none;
  background-color: #3D3D3D;
}
.togglePass{
  margin-right: 0 !important;
  margin-left: 15px;
  position: relative;
  display: inline-flex; /* asegura que se adapte al contenido */
  color: #A6A6A6;
}

.togglePassNo{
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0); /* <-- rotación movida aquí */
    height: 2px;
    width: 150%;
    background-color: #A6A6A6;
    pointer-events: none;
    animation-name: togglePassAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 200ms;
    animation-fill-mode: forwards;

  }
}

.remove{
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0); /* <-- rotación movida aquí */
    height: 2px;
    width: 150%;
    background-color: #A6A6A6;
    pointer-events: none;
    animation-name: togglePassAnimationReverse;
    animation-timing-function: ease-in-out;
    animation-duration: 200ms;
    animation-fill-mode: forwards;


  }
}

@keyframes togglePassAnimation{
  0%{
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);

  }

  100%{
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  }
}

@keyframes togglePassAnimationReverse{
  0%{
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);

  }

  100%{
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);

  }
}
.input-with-icon svg{
  margin-right: 15px;
}

.input-with-icon i{
  margin-right: 15px;
}
.fondo{
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
}

.label-input{
  color: #FFF;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p{
  margin: 0;
}


.swiper-pagination-bullet-active {
  background-color: #ff2f00 !important; /* Color del activo */
}

.btn-click{
  transition: all 100ms ease !important;
  touch-action: manipulation;
  pointer-events: all;
  :focus{
    transform: scale(0.9) !important;
  }
}

.modal-div{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  padding-bottom: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0,0.7);
  backdrop-filter: blur(1px);
}

.select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  border: 1px solid #4E4E4E;
  background: #383838;
  padding: 10px 20px;
  pointer-events: all;
  p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@keyframes growEffect {
  0% {
    transform: scale(0.2); /* Comienza pequeño */
  }

  95%{
    transform: scale(1.09); /* Comienza pequeño */

  }
  100% {
    transform: scale(1); /* Finaliza en su tamaño normal */
  }
}

/* Aplicamos la animación al contenedor */
.grow {
  animation: growEffect 200ms ease ; /* La animación dura 1 segundo */
}

.enter-from-bottom{
  animation: enter-page-from-bottom ease 200ms ;
}


.enter-from-right{
  animation: enter-page-from-right ease-in-out 150ms ;
}

@keyframes enter-page-from-bottom {
  from{
    transform: translateY(100%);
  }

  to{
    transform: translateY(0);
  }
}


@keyframes enter-page-from-right {
  from{
    transform: translateX(100%);
  }

  to{
    transform: translateX(0);
  }
}

h3{
  margin: 0;
}
h1{
  margin: 0;
}

h2{
  margin: 0;
}

h4{
  margin: 0;
}

h5{
  margin: 0;
}

h6{
  margin: 0;
}


.input-textArea-class-comment{
  border: 1px solid #7a7a7a;
  outline: none;
  color:  white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100px;
  resize: none; /* Evita que el usuario lo ajuste manualmente */
  overflow-y: auto;
  border-radius: 15px;
  field-sizing: content;
  flex: 1;
  scrollbar-color: transparent;
  transition-duration: 200ms;
  background-color: #3e3e3e;
}

.input-textArea-class-comment::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}


.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 75px;
}
