<div class="container">

  <div class="container-img">
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" alt="">
  </div>
  <div class="comment">
    <p class="comment-user">&#64;WTowers  <span>hace 1 hora</span></p>
    <p>El mejor</p>
    <div class="comment-extras">
      <p>Responder</p>
    </div>

    @if (hasComent()) {
      <div class="comment-replies" [ngClass]="{'border-gray': isExpanded()}">

        @if (isExpanded()) {
          <div class="comment-replies-replies">
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />
            <app-comment [hasComent]="false" />

          </div>
        }

        @if (isExpanded()) {
          <p class="comment-replies-toggle" (click)="toggleExpanded()">Ocultar respuestas (21111111111)</p>
        }@else {
          <p class="comment-replies-toggle"(click)="toggleExpanded()">Mostrar respuestas (21111111111)</p>
        }

      </div>


    }
  </div>

  <svg [ngClass]="{isLikeAnimated:isLiked()}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" (click)="isLiked.set(!isLiked())">
    <path [ngClass]="{isLike:isLiked()}" d="M11.9999 7.23001C10.2669 3.30601 6.23591 2.95701 4.35891 4.66801C2.82991 6.04101 2.09591 9.33301 3.49191 12.363C5.89991 17.573 11.9999 20.309 11.9999 20.309C11.9999 20.309 18.1009 17.573 20.5079 12.363C21.9039 9.33301 21.1699 6.04101 19.6409 4.66801C17.7639 2.95701 13.7329 3.30701 11.9999 7.23001Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>


</div>
